---
const pageTitle = "A propos";
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---
<Layout title={pageTitle}>
    <main>
        <Header/>
        <h1>Qui sommes nous?</h1>
        <p>Émilie BONNAIRE et Cécile DALMAS architectes DE-HMONP</p>
    </main>
</Layout>
