---
import Layout from "../layouts/Layout.astro";
---

<Layout title="BODA architectes">
    <main>
        <h1>boda</h1>
        <p class="text-light" style="word-spacing:0.7rem">
            émilie <b>bo</b>nnaire • cécile <b>da</b>lmas
        </p>
        <p class="text-light">
            9 avenue de Taillebourg 75011 Paris<br />
            boda.architectes@gmail.com<br />
            06 71 37 07 30 • 06 50 84 22 93
        </p>
    </main>
</Layout>

<style>
    h1 {
        font-size: 5rem;
        font-weight: 500;
        font-style: italic;
        letter-spacing: 1rem;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    .text-light {
        font-size: 0.9rem;
        font-weight: 100;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 1em;
    }
</style>
