---
import Navigation from './Navigation.astro';
import { Font } from 'astro:assets';
---
<Font cssVariable='--font-roboto' preload />

<style>
body {
    font-family: var(--font-roboto);
}
</style>

<header>
  <nav>
    <Navigation />
  </nav>
</header>

