---
interface Props {
    title: string;
}
// Supports weights 100-900
import "@fontsource-variable/roboto";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Boda agence architectes" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        height: 100%;
        background: #fffbfb;
        background-size: 224px;
    }
    body {
        font-family: "Roboto Variable", sans-serif;
        height: 100%;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 1rem;
        width: 800px;
        height: 100%;
        max-width: calc(100% - 2rem);
        max-height: calc(100% - 2rem);
        color: black;
        font-size: 20px;
        line-height: 1.6;
    }
    h1 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    p {
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
</style>
